# Syntax: editorconfig.org

root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
end_of_line = lf

[*/*.{tmLanguage, tmPreferences}]
indent_size = 2

[**.sublime-syntax]
indent_size = 2

[test/*.toit]
indent_size = 2

[.github/**.{yml, yaml}]
indent_size = 2
