* text=auto eol=lf
.github/ export-ignore
screenshots/ export-ignore
test/ export-ignore
.editorconfig export-ignore
.mailmap linguist-language=YAML text=auto eol=lf export-ignore
*.toit linguist-language=Toit text=auto eol=lf
