* text=auto eol=lf
.github/ export-ignore
screenshots/ export-ignore
test/ export-ignore
.editorconfig export-ignore
.mailmap linguist-language=YAML
*.toit linguist-language=Toit
change.log linguist-language=YAML
